.view-projects {
  padding: 40px;
}

h2 {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; 
}

.project-container {
  border-radius: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--box-color);
  -webkit-backdrop-filter: blur(25px); /* -webkit- prefix for Safari */
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: row;
  max-width: 600px;
  max-height: 200px;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 5%;
}

.project-container:hover {
  transform: translateX(10px);
}

.project-container img {
  width: 248px;
  height: 184px;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 8px;
  margin-right: 12px;
}

.project-container h3 {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 0;
}

.project-container p {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-top: 4px;
}

.arrow-container svg {
  position: relative;
  padding: 10px;
  margin-top: 165px;
}
