.about {
    padding: 40px;
    margin-top: 5%;
}

h2 {
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.about-content {
    max-width: 564px;
}

.about-content p {
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.social-links {
    margin-top: 5%;
    margin-left: -3%;
    padding-left: 0;
}
  
.social-links a {
    margin-left: 0;
    padding-left: 0;
    margin-left: 15px;
    text-decoration: none;
}
