<section class="experience">
    <h2>My Experience</h2>
    <div class="experience-container">
      <div class="job-title">
        <h3>Lab Assistant</h3>
        <p>York University</p>
        <p>Sept 2022 - Aug 2023</p>
      </div>
      <p class="job-description">As a Lab Assistant at York University, I managed lab preparation, and organization. Created engaging lab tests aligned with curriculum objectives. Facilated and managed Lab sessions as well as lab tests, addressing student's inquires.</p>
    </div>
  </section>
  