  <section class="about">
    <div class="background-container">
      <div class="corner-lines">
        <div class="intro">
          <h1>Andy Lin</h1>
          <p>Full Stack Developer</p>
          <div class="social-links">
            <a href="https://github.com/AndyLin-1" target="_blank">
              <img [src]="getIconLogo('github')" alt="Logo" height="50px" width="50px">
            </a>
            <a href="https://www.linkedin.com/in/andy-lin-a90a74201/" target="_blank">
              <img [src]="getIconLogo('linkedin')" alt="Logo" height="50px" width="50px">
            </a>
            <a href="mailto:www.andy@hotmail.ca">
              <img [src]="getIconLogo('email')" alt="Logo" height="50px" width="50px">
            </a>
            <a href="../../assets/Logo.png" target="_blank">
              <img [src]="getIconLogo('resume')" alt="Logo" height="50px" width="50px">
            </a>
          </div>
          <div class="brief-description">
            <h2>About Me</h2>
            <p>Hi, I'm Andy Lin, a recent computer science graduate from York University. 
              My interest into computer science started with a passion for problem-solving and a curiosity about how things work. 
              My goal is to become a skilled and innovative software developer. 
              As I embark on my job search in the tech industry, I am looking forward to find opportunities where I can contribute, learn, and collaborate with others.
              Thank you for visiting my portfolio, and please feel free to connect with me on my social links.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  